{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="h3 mb-3 fw-normal">Maintain Tasks</h1>
    <table class="table table-hover table-sm">
    <thead>
        <tr>
            
          <th scope="col">Job Name </th>
          <th scope="col">Task Name</th>
          <th scope="col">Status</th>
          <th scope="col">Order</th>
          <th scope="col">Note</th>
          <th scope="col">Address</th>
          <th scope="col">Maintain</th>
        </tr>
      </thead>
    <tbody>
{% for t in task_list %}
    <tr>
        <td>
          {{ job_name }}
        </td>
        <td> {{ t.Task.name }} </td>
        <td> {{ t.Task.status }} </td>
        <td> {{ t.Task.order }} </td>
        <td> {{ t.Task.note }} </td>
        <td> {{ t.Task.address }} </td>
        <td>
          <a href="{{ url_for('tasks.update_task', task_id=t.Task.id, job_id=t.job_id) }}">  Edit task </a>
        </td> 
    </tr>
{% endfor %}
    </tbody>
    </table>
</div>
{% endblock content %}
